:root {
  font-family: Inter, sans-serif !important;
  font-feature-settings: "liga" 1, "calt" 1 !important; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif !important;
  }
}

body {
  font-family: Inter, sans-serif !important;
  font-feature-settings: "liga" 1, "calt" 1 !important; /* fix for Chrome */
}

/* Use variable font where supported */
@supports (font-variation-settings: normal) {
  body {
    font-family: InterVariable, sans-serif !important;
  }
}
