button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

button {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.input-border {
  border: 1px solid rgba(117, 117, 117, 77%);
}

.task-body {
  color: #757575;

  @media (max-width: 576px) {
    display: none;
  }
  @media (min-width: 992px) {
    font-size: 0.75rem;
  }

  @media (min-width: 1200px) {
    font-size: 1rem;
  }
}

.task-item {
  height: 14rem;
  border: 1px solid rgba(117, 117, 117, 77%);
  width: 100%;
  @media (max-width: 576px) {
    height: auto;
    min-height: 14rem;
  }
}

.task-title {
  @media (max-width: 576px) {
    text-align: center;
  }

  @media (min-width: 768px) {
    font-size: 1rem;
  }
  @media (min-width: 992px) {
    font-size: 1.25rem;
  }

  @media (min-width: 1200px) {
    font-size: 1.75rem;
  }
}

.title {
  font-size: 1rem;
  font-weight: 700;

  @media (min-width: 576px) {
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }

  @media (min-width: 992px) {
    font-size: 1.5rem;
  }

  @media (min-width: 1200px) {
    font-size: 1.5rem;
  }
}
